<%- include('../partials/header') %>
<main class="container">
    <div class="page-head">
        <h1>Categories</h1>
        <div class="toolbar">
            <input class="input" type="search" placeholder="Search categories" data-search data-target=".list > li" data-text="a" />
            <a class="btn primary" href="/categories/new">Create</a>
        </div>
    </div>
    <ul class="list">
        <% categories.forEach(category => { %>
            <li>
                <a href="/categories/<%= category.id %>"><%= category.name %></a>
                <div class="actions">
                    <a class="btn" href="/categories/<%= category.id %>/edit">Edit</a>
                    <form action="/categories/<%= category.id %>/delete" method="POST">
                        <button type="submit" class="btn danger">Delete</button>
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>
</main>
<%- include('../partials/footer') %>